<div class="d-block w-auto h-100 m-2">
  <app-search-form
    class="mb-2"
    (searchEvent)="searchTaskList($event)"
  ></app-search-form>
  <div class="d-flex align-items-center mb-2">
    <app-sort
      [sortFields]="taskListSortFields"
      (sortEvent)="sortTaskList($event)"
    ></app-sort>
    @if(isLoggedIn$ | async ){
    <button
      (click)="addNewTaskList()"
      mat-flat-button
      type="submit"
      class="ms-2 p-3 rounded d-flex align-items-center light-border-btn"
    >
      <app-icon svgClass="size-16" color="gold" name="icon-plus"></app-icon>
    </button>
    }
  </div>

  <!-- EMPTY STATE TEMPLATE  -->
  <ng-template #emptyState>
    <app-empty-state
      buttonLabel="Add a new task list"
      (clickActionEvent)="addNewTaskList()"
      [mode]="DISPLAY_MODE.DARK"
      [isLoggedIn]="(isLoggedIn$ | async) ?? false"
    ></app-empty-state>
  </ng-template>

  @if(taskLists$ | async; as taskLists){ @if(taskLists.length > 0) {
  <mat-grid-list cols="2" gutterSize="20" rowHeight="1:1">
    @for(list of taskLists; track list.id){
    <mat-grid-tile>
      <app-task-list
        [taskList]="list"
        (clickaddTaskEvent)="addNewTaskToList($event)"
        (deleteTaskEvent)="deleteTask($event)"
        (deleteTaskListEvent)="deleteTaskList($event)"
        [isLoggedIn]="(isLoggedIn$ | async) ?? false"
      ></app-task-list>
    </mat-grid-tile>
    }
  </mat-grid-list>
  } @else {
  <ng-container *ngTemplateOutlet="emptyState"></ng-container>
  } } @else {
  <ng-container *ngTemplateOutlet="emptyState"></ng-container>
  }
  <mat-paginator
    (page)="loagGridOnChange($event)"
    [length]="100"
    [pageSizeOptions]="pageSizes"
    [pageIndex]="paginatorSetup.pageIndex"
    [pageSize]="paginatorSetup.pageSize"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
