<div class="d-flex flex-column p-3 container" [formGroup]="addTaskForm">
  <mat-form-field appearance="outline" class="mb-1">
    <mat-label>Name</mat-label>
    <input
      type="text"
      matInput
      placeholder="name"
      [class.is-invalid]="
        addTaskForm.get('name')?.invalid && addTaskForm.get('name')?.touched
      "
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="mb-1">
    <mat-label>Due date</mat-label>

    <input
      [matDatepicker]="picker"
      matInput
      [min]="now"
      [class.is-invalid]="
        addTaskForm.get('dueDate')?.invalid &&
        addTaskForm.get('dueDate')?.touched
      "
      formControlName="dueDate"
    />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button
    mat-flat-button
    type="submit"
    class="w-100 mt-4 light-border-btn rounded"
    (click)="onAddTask()"
  >
    Add
  </button>
</div>
