/** Color guideline for the whole application */

// Classic
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #fafafa;
$color-dark-grey: #404040;

// Theme
$color-dark-blue: #0a1828;
$color-medium-blue: #193d65;
$color-clear-blue: #458daa;
$color-turquoise: #178582;
$color-gold: #bfa181;
