/* App Mat Styles */
@use "@angular/material" as mat;

/** Variables **/

@import "./colors.scss";

/** Global **/

html,
body {
  height: 100%;
  background-color: $color-dark-blue;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/** Global **/

.d-none {
  display: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
  min-height: 50px;

  &:hover {
    background-color: rgba($color-gold, 0.1);
  }

  &.light-border-btn {
    color: $color-white;
    border-color: $color-white;
    border-width: 2px;
    border-style: solid;

    &:hover {
      border-color: $color-gold;
      background-color: transparent;
    }
  }
  &.dark-border-btn {
    border-color: $color-dark-blue;
    border-width: 2px;
    border-style: solid;

    &:hover {
      border-color: $color-gold;
      background-color: transparent;
    }
  }
}

/** Alerts **/

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: rgba(red, 0.5) !important;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: rgba(green, 0.5) !important;
  }
}
